<!DOCTYPE html>
<html lang="en">

<head>
<link type="text/css" href="/assets/metals.css.scss" rel="stylesheet" >
</head>
<body>
<div>
    <h1>Prices on Metals</h1>
     
     <div class="table table-hover">
        <table>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>LME-Price</th>
            <th>Yandex-Price</th>
          </tr>
     
          <% @metal.each do |i| %>
          <tr>
              <td><%= i.date %></td>
              <td><%= i.name %></td>
              <td><%= i.price %></td>
          </tr>
          <% end %>
        </table>
</div>

    <p>
    <%= link_to "Back to the HomePage", home_path, class: "btn btn-primary" %>
    </p>
<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>